{% set active_page = "event" %}{% extends "base.html" %} {% block sidebar %} {%
include "layout/sidebar.html" %} {% endblock %} {% block header %} {% include
"layout/header.html" %} {% endblock %} {% block body %}
<div class="flex flex-wrap -mx-3 mb-5">
  <div class="w-full max-w-full px-3 mb-6 mx-auto">
    <div
      class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-xl border border-dashed border-stone-200 bg-white m-5"
    >
      <div class="flex-col mx-auto mt-4 max-w-md text-gray-800 text-center">
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
          {{event.title}}
        </h2>
        <p class="text-lg font-bold">{{event.location}}</p>
        <p class="py-1 text-sm">{{event.desc}}</p>
        <p>Start Date :{{event.start}}</p>
        <p>End Date :{{event.end}}</p>
      </div>

      <div class="text-center pb-8">
        <h2 class="text-xl my-4 font-bold text-gray-900 sm:text-3xl">
          Your Uploads
        </h2>
        <div class="p-5 sm:p-8">
          <div
            id="imageGallery"
            class="columns-2 gap-3 sm:columns-2 sm:gap-8 md:columns-3 lg:columns-4 xl:columns-5 [&>div:not(:first-child)]:mt-8"
          >
            {% for image_file in image_files %}
            <div class="overflow-hidden rounded-lg">
              <img
                class="h-auto max-w-full rounded-lg hover:scale-110 transition ease-in-out hover:shadow-2x hover:cursor-zoom-in"
                src="{{ image_file }}"
                alt="Image"
              />
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="fixed bottom-8 right-1 transform -translate-x-1/2">
          <a
            class="text-white py-2 px-4 shadow-lg bg-indigo-600 rounded-md w-full text-md hover:bg-indigo-500"
            href="{{ url_for('event_upload', event_id=event.id) }}"
          >
            Add Images
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="modal"
  class="hidden fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center"
>
  <!-- The close button -->
  <a
    class="fixed z-90 top-6 right-8 text-white text-5xl font-bold"
    href="javascript:void(0)"
    onclick="closeModal()"
    >&times;</a
  >

  <!-- A big image will be displayed here -->
  <img id="modal-img" class="max-w-[800px] max-h-[600px] object-cover" />
</div>

<script>
  // Get the modal by id
  const modal = document.getElementById("modal"),
    modalImg = document.getElementById("modal-img");
  var imageGallery = document.getElementById("imageGallery");

  imageGallery.onclick = ({ target }) => {
    modal.classList.remove("hidden");
    modalImg.src = target.src;
  };

  function closeModal() {
    modal.classList.add("hidden");
  }
</script>
{% endblock %}
