{% set active_page = "face" %}{% extends "base.html" %} {% block sidebar %} {%
include "layout/sidebar.html" %} {% endblock %} {% block header %} {% include
"layout/header.html "%} {% endblock %} {% block body %}
<div class="flex flex-wrap -mx-3 mb-5">
  <div class="w-full max-w-full px-3 mb-6 mx-auto">
    <div
      class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-xl border border-dashed border-stone-200 bg-white m-5"
    >
      <!-- card body  -->
      <div class="flex-col mx-auto text-center block py-8 px-9">
        <div>
          <div class="mb-9">
            <h1 class="mb-2 text-[1.75rem] font-semibold text-dark">Peoples</h1>
            <span class="text-[1.15rem] font-medium text-muted">
              Faces Across {{event.title}}
            </span>
          </div>
          <div class="flex flex-wrap justify-center w-full">
            {% for image_file in image_files %}
            <div class="flex flex-col text-center mb-11">
              <div class="inline-block mb-4 relative shrink-0 rounded-lg">
                <img
                  class="inline-block shrink-0 rounded-lg w-32 h-32"
                  src="{{ image_file.image_path }}"
                  alt="face image"
                />
              </div>
              <div class="text-center">
                <a
                  href="{{ url_for('view_face', face_id=image_file.face_obj.id) }}"
                  class="text-dark font-semibold hover:text-primary text-sm transition-colors duration-200 ease-in-out"
                  >{{image_file.face_obj.id}}</a
                >
              </div>
              <div class="flex justify-center">
                <input
                  class="block w-3/4 px-2.5 text-center mt-2 font-medium text-wrap nameInput"
                  type="text"
                  id="nameInput_{{ loop.index }}"
                  value="{{ image_file.face_obj.name }}"
                  maxlength="16"
                  data-face-id="{{ image_file.face_obj.id }}"
                  data-csrf-token="{{ csrf_token() }}"
                />
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
