{% set active_page = "face" %}{% extends "base.html" %} {% block sidebar %} {%
include "layout/sidebar.html" %} {% endblock %} {% block header %} {% include
"layout/header.html "%} {% endblock %} {% block body %}
<div class="flex flex-wrap -mx-3 mb-5">
  <div class="w-full max-w-full px-3 mb-6 mx-auto">
    <div
      class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-xl border border-dashed border-stone-200 bg-white m-5"
    >
      <div class="text-center pb-8">
        <h2 class="text-xl my-4 font-bold text-gray-900 sm:text-3xl">
          Images for {{face.name}}
        </h2>
        <div class="p-5 sm:p-8">
          <div
            id="imageGallery"
            class="columns-2 gap-3 sm:columns-2 sm:gap-8 md:columns-3 lg:columns-4 xl:columns-5 [&>div:not(:first-child)]:mt-8"
          >
            {% for image_file in image_files %}
            <div class="overflow-hidden rounded-lg">
              <img
                class="h-auto max-w-full rounded-lg hover:scale-110 transition ease-in-out hover:shadow-2x hover:cursor-zoom-in"
                src="{{ image_file.image_path }}"
                alt="Image"
              />
              <input hidden type="text" value="{{image_file.coordinates}}" />
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="fixed bottom-8 right-1 transform -translate-x-1/2">
          <a
            class="text-white font-bold py-2 px-4 shadow-lg bg-indigo-600 rounded-md w-full text-md hover:bg-indigo-500"
            href="{{ url_for('face_download', face_id=face.id) }}"
          >
            Download All
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="modal"
  class="hidden fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center"
>
  <!-- The close button -->
  <a
    class="fixed z-90 top-6 right-8 text-white text-5xl font-bold"
    href="javascript:void(0)"
    onclick="closeModal()"
    >&times;</a
  >

  <!-- A big image will be displayed here -->
  <canvas id="canvas-img" class="object-cover"></canvas>
</div>

<script>
  const modal = document.getElementById("modal"),
    canvasImg = document.getElementById("canvas-img");
  var imageGallery = document.getElementById("imageGallery");
  var context = canvasImg.getContext("2d");

  var img = new Image();

  imageGallery.onclick = ({ target }) => {
    modal.classList.remove("hidden");

    img.src = target.src;
    img.onload = function () {
      var originalWidth = img.naturalWidth;
      var originalHeight = img.naturalHeight;

      var maxWidth = 800;
      var maxHeight = 500;

      // Calculate aspect ratio
      var aspectRatio = originalWidth / originalHeight;

      // Determine the new dimensions while maintaining aspect ratio
      var newWidth = maxWidth;
      var newHeight = maxHeight;

      if (originalWidth > originalHeight) {
        newHeight = maxWidth / aspectRatio;
        if (newHeight > maxHeight) {
          newHeight = maxHeight;
          newWidth = maxHeight * aspectRatio;
        }
      } else {
        newWidth = maxHeight * aspectRatio;
        if (newWidth > maxWidth) {
          newWidth = maxWidth;
          newHeight = maxWidth / aspectRatio;
        }
      }

      // Set canvas dimensions to the new dimensions
      canvasImg.width = newWidth;
      canvasImg.height = newHeight;

      // Draw the image on the canvas with the correct scaling
      context.drawImage(img, 0, 0, newWidth, newHeight);

      // Retrieve the coordinates from the sibling input
      var siblingInput = target.nextElementSibling;
      var inputValue = siblingInput.value;
      var [x, y, w, h] = JSON.parse(inputValue);

      // Calculate scaling factors based on the new image dimensions
      var widthScale = newWidth / originalWidth;
      var heightScale = newHeight / originalHeight;

      // Map coordinates and dimensions to the new image
      var newX = x * widthScale;
      var newY = y * heightScale;
      var newW = w * widthScale;
      var newH = h * heightScale;

      // Draw the rectangle on the canvas
      context.beginPath();
      context.rect(newX, newY, newW, newH);
      context.lineWidth = 1;
      context.strokeStyle = "red";
      context.stroke();
    };
  };

  function closeModal() {
    modal.classList.add("hidden");
  }
</script>
{% endblock %}
